# Libraries

In [120]:
import pandas as pd
import numpy as np
import sklearn

In [121]:
student=pd.read_csv('C:\\Users\\Dusica\\Downloads\\Student Performance\\student-mat.csv',sep=';')

In [122]:
student.shape

(395, 33)

In [123]:
student.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4.0,NaN,at_home,teacher,...,4.0,3.0,4,1,1.0,3,6.0,5,6,6
1,GP,F,17,U,GT3,T,1.0,1.0,at_home,other,...,5.0,3.0,3,1,1.0,3,4.0,5,5,6
2,GP,F,15,U,LE3,T,1.0,1.0,at_home,other,...,4.0,3.0,2,2,3.0,3,10.0,7,8,10
3,GP,F,15,U,GT3,T,4.0,2.0,health,services,...,3.0,2.0,2,1,1.0,5,2.0,15,14,15
4,GP,F,16,U,GT3,T,3.0,3.0,other,other,...,4.0,3.0,2,1,2.0,5,4.0,6,10,10

In [124]:
student.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,394.000000,393.000000,394.000000,395.000000,394.000000,394.000000,394.000000,395.000000,395.000000,394.000000,395.000000,394.000000,395.000000,395.000000,395.000000
mean,16.696203,2.746193,2.516539,1.444162,2.035443,0.335025,3.941624,3.238579,3.108861,1.481013,2.291878,3.554430,5.713198,10.908861,10.713924,10.415190
std,1.276043,1.094306,1.088135,0.693979,0.839240,0.744405,0.896214,0.998184,1.113278,0.890741,1.289450,1.390303,8.012806,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [125]:
student.select_dtypes(include=['object']).describe()

,school,sex,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic
count,395,395,395,395,395,395,394,394,395,394,395,395,395,395,395,395,395
unique,2,2,2,2,2,5,5,4,3,2,2,2,2,2,2,2,2
top,GP,F,U,GT3,T,other,other,course,mother,no,yes,no,yes,yes,yes,yes,no
freq,349,208,307,281,354,141,216,144,273,344,242,214,201,314,375,329,263

In [126]:
pd.concat([student.dtypes,student.isnull().sum()],axis=1)

                  0  1
school       object  0
sex          object  0
age           int64  0
address      object  0
famsize      object  0
Pstatus      object  0
Medu        float64  1
Fedu        float64  2
Mjob         object  0
Fjob         object  1
reason       object  1
guardian     object  0
traveltime  float64  1
studytime     int64  0
failures    float64  1
schoolsup    object  1
famsup       object  0
paid         object  0
activities   object  0
nursery      object  0
higher       object  0
internet     object  0
romantic     object  0
famrel      float64  1
freetime    float64  1
goout         int64  0
Dalc          int64  0
Walc        float64  1
health        int64  0
absences    float64  1
G1            int64  0
G2            int64  0
G3            int64  0

In [127]:
a=[]
for i in range(len(student.isnull().sum())):
        if student.isnull().sum()[i]>0:
            a.append(student.isnull().sum()[i])
            print (student.columns[i],student.isnull().sum()[i])
print('Conclusion: There are ',len(a),' NULL values')

Medu 1
Fedu 2
Fjob 1
reason 1
traveltime 1
failures 1
schoolsup 1
famrel 1
freetime 1
Walc 1
absences 1
Conclusion: There are  11  NULL values

### Cleaning data

##### Categorical variables

In [128]:
#Fjob, reason, schoolsup
student["Fjob"].value_counts() 
student=student.fillna({"Fjob": "other"})

In [129]:
student["reason"].value_counts() 
student=student.fillna({"reason": "course"})

In [130]:
student["schoolsup"].value_counts() 
student=student.fillna({"schoolsup": "no"})

##### Numerical variables

In [131]:
student.traveltime.fillna(np.average(student.traveltime.dropna()), inplace=True)
student.Medu.fillna(np.average(student.Medu.dropna()), inplace=True)
student.failures.fillna(np.average(student.failures.dropna()), inplace=True)
student.Fedu.fillna(np.average(student.Fedu.dropna()), inplace=True)
student.famrel.fillna(np.average(student.famrel.dropna()), inplace=True)
student.freetime.fillna(np.average(student.freetime.dropna()), inplace=True)
student.Walc.fillna(np.average(student.Walc.dropna()), inplace=True)
student.absences.fillna(np.average(student.absences.dropna()), inplace=True)

In [132]:
a=[]
for i in range(len(student.isnull().sum())):
        if student.isnull().sum()[i]>0:
            a.append(student.isnull().sum()[i])
            print (student.columns[i],student.isnull().sum()[i])
print('Conclusion: There are ',len(a),' NULL values')

Conclusion: There are  0  NULL values

# Multi label classification

Madjarov et al. divide approaches to multi-label classification into three categories, you should select a scikit-multilearn base class according to the philosophy behind your classifier:

algorithm adaptation, currently none in scikit-multilearn in the future they will be placed in skmultilearn.adapt
problem transformation, such as Binary Relevance, Label Powerset & more, are now available from skmultilearn.problem_transformation
ensemble classification, such as RAkEL or label space partitioning classifiers, are now available from skmultilearn.ensemble

In [6]:
#help(load_arff_to_numpy)

NameError: name 'load_arff_to_numpy' is not defined